# export VK_TOKEN=
export TG_ENABLED=true
# export TG_TOKEN=
# export TG_CHAT=
export LOG_LEVEL=info

export ANSIBLE_INVENTORY=./ansible/inventory.ini

eval "$(poetry env activate)"

source_env .envrc.local
