# export VK_TOKEN=
export TG_ENABLED=true
# export TG_TOKEN=
# export TG_CHAT=
export LOG_LEVEL=info
export DB_CONN_STRING="file:./resources/db/lostdogs.db?mode=rwc&_journal_mode=WAL&_synchronous=NORMAL&_busy_timeout=5000"

export ANSIBLE_INVENTORY=./ansible/inventory.ini

eval "$(poetry env activate)"

export GOOSE_DRIVER=sqlite3
export GOOSE_DBSTRING="file:./resources/db/lostdogs.db?cache=shared&mode=rwc"
export GOOSE_MIGRATION_DIR="./resources/db/migrations"

source_env .envrc.local
